<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Manual.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.74-chun</value>
            </setting>
            <setting name="SplashAuthor" serializeAs="String">
                <value>manual team</value>
            </setting>
            <setting name="SplashAuthor_Link" serializeAs="String">
                <value>https://manualai.art/</value>
            </setting>
        </Manual.Properties.Settings>
    </applicationSettings>
	
	<system.windows>
		<windowsSettings>
			<!-- GPU Aceleration?-->
			<enableGPUAcceleration>True</enableGPUAcceleration>
			<disableHWAcceleration>false</disableHWAcceleration>
		</windowsSettings>
	</system.windows>
	
</configuration>